body {
      background-color: #f1f1f2;
      margin: 0;
      padding: 0;
    }

    /* Glavni kontejner */
    .header {
      position: relative;
      height: 200px; /* visina zone u kojoj su logo i tekst */
    }

    /* Logo skroz lijevo */
    .logo {
      position: absolute;
      top: 20px;   /* udaljenost od vrha */
      left: 30px;  /* udaljenost od lijevog ruba */
      width: 300px;
      height: auto;
    }

    .okvir {
      border: 3px solid #333;        /* debljina, stil i boja okvira */
      padding: 7px 15px;            /* razmak od ruba do teksta */
      display: inline-block;          /* okvir ide točno oko teksta */
      border-radius: 8px;            /* zaobljeni rubovi */
      background-color: #f1f1f2;         /* lagana pozadina (možeš promijeniti) */
      box-shadow: 0 0 10px rgba(0,0,0,0.2); /* sjena ispod okvira */
      font-family: Arial, sans-serif;
      color: #333;
}


    /* Tekst koji možeš pomicati */
    .title {
      position: absolute;
      top: 10px;    /* udaljenost od vrha */
      left: 1180px;  /* udaljenost od lijevog ruba */
      font-family: Arial, sans-serif;
      font-size: 24px;
      color: #333;
    }

    .title1 {
      position: absolute;
      top: 10px;    /* udaljenost od vrha */
      left: 1320px;  /* udaljenost od lijevog ruba */
      font-family: Arial, sans-serif;
      font-size: 24px;
      color: #333;
    }

    .title2 {
      position: absolute;
      top: 10px;    /* udaljenost od vrha */
      left: 1460px;  /* udaljenost od lijevog ruba */
      font-family: Arial, sans-serif;
      font-size: 24px;
      color: #333;
    }

    .title3 {
      position: absolute;
      top: 3px;    /* udaljenost od vrha */
      left: 1600px;  /* udaljenost od lijevog ruba */
      font-family: Arial, sans-serif;
      font-size: 24px;
      color: #333;
    }